{% extends "base.html" %}
{% block css%}
<style>
    .v13_58 {
        color: rgba(0, 0, 0, 1);
        font-family: Roboto;
        font-weight: Regular;
        font-size: 50px;
        opacity: 1;
        top: 0px;
        left:3px;
    }
    .button5 {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 10px 22px;
        border: 2px solid #3d3d3d;
        border-radius: 27px;
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
        background: -moz-linear-gradient(top, #fafafa, #ededed);
        background: linear-gradient(to bottom, #fafafa, #ededed);
        -webkit-box-shadow: #171717 0px 0px 2px 0px;
        -moz-box-shadow: #171717 0px 0px 2px 0px;
        box-shadow: #171717 0px 0px 2px 0px;
        text-shadow: #591717 1px 1px 1px;
        font: normal normal normal 28px arial;
        color: #0a0a0a;
        text-decoration: none;
    }
    .button5:hover{
        background-color: #000;
        color: rgb(59, 59, 59);
    }
    
    .button5:active {
      background-color: #3e8e41;
      box-shadow: 0 5px rgb(148, 148, 148);
      transform: translateY(4px);
    }
    .button5:focus {
        border: 2px solid #626262;
        background: #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
        background: -moz-linear-gradient(top, #ffffff, #ffffff);
        background: linear-gradient(to bottom, #ffffff, #ffffff);
        color: #0a0a0a;
        text-decoration: none;
    }
    .button5:active {
        background: #969696;
        background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#ededed));
        background: -moz-linear-gradient(top, #969696, #ededed);
        background: linear-gradient(to bottom, #969696, #ededed);
    }
    .button5:after{
        content:  "\0000a0";
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        margin: 0 -4px -6px 4px;
        position: relative;
        top: 0px;
        left: -1px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABh0lEQVRIibXVMUhVYRQH8B/Pi4i8wUlERB4RTRIi4uAQDg4i4vhoampoCJEIaWpxEJKmMBAFRxERcVEcIlpaREJEQyIkRIJw0D2k4dwH+VDve3rff/vu933nf87//L9zuRnJLXv3xiPMNSp4H35jO49ghar1MNaxiFZ0oXjNuTuhjGMMoBe7OMIpvmMpPVO8S/CX+CG0r0YLHuAZ1lLC9+ioJ/gpOms8347p9M5rNGdd6MAOZtSndRc28LmW5NrwCQvC/+14inH0u1n3Al4JeR9mkTRjJc1qBCdYxhdh2z3MCgNUV1rGT5SySBLxwE5cfQcJejCF/ZR0uOruc+G8TJcV8BZbtyQxhm9YFXJWMI8PWQQV9GXsJ3gjpBlMvxVFPwZqJakFQ/iF0XRdFobJFY9TkidC4gPhvlwxKEZNNybV0Yt6MCHMURK9SHKZkv/ho2h0P/6iuylngksxgd+JCfwn7wrgK87FBC7lXUEFl3iBnUZUAJuiB/n8Cq/BGQ5x0SiJ4AK7/wCn8UdE6vGrrAAAAABJRU5ErkJggg==") no-repeat left center transparent;
        background-size: 100% 100%;
    }
    .headText{
        font-size: 50px;
    }
    .text{
        font-size: 40px;
    }
    .noDataText{
        font-size: 60px;
        color: 	#CE0000;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-md" style="border-bottom:solid 20px;border-color:#00BB00;margin-top:20px;margin-bottom:20px;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span class="v13_58" ><img src="/media/image/scroll.png" width="60" height="60">歷史資料</span>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
        <a href="/historyEnterPage/{{ pk }}/"><button  class="button5">&nbsp;&nbsp;回上一頁</button></a>
    </li>
        </ul>
    </div>
</nav>
{% if returnkey %}
    <p class="noDataText">暫無資料</p>
{% else %}
<ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="?page=1">第一頁</a>
    </li>
    {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous_page_number }}">上一頁</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
    </li>
    {% endif %}
  
    {% if page.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}
  
    {% for i in page.paginator.page_range %}
    {% if page.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        {{ i }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% elif i > page.number|add:'-5' and i < page.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
  
    {% if page.paginator.num_pages > page.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'5' }}">&hellip;</a></li>
    {% endif %}
  
    {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.next_page_number }}">下一頁</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">下一頁</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{ end_page }}">最後一頁</a>
    </li>
  </ul>

<div>
    {% if gameMod == "SortTermMemoryGame" %}
    {% for p in page %}
    <hr>
    <b class="headText">遊玩時間點:</b><span class="text">{{ p.add_time }}</span><br>   
    <b class="headText">得分:</b><span class="text">{{ p.correct_rate }}</span><br>
    <b class="headText">花費時間:</b><span class="text">{{ p.costTime }}</span>
    <br/>
    {% endfor %}

    {% elif gameMod == "AttentionGame" %}
    {% for p in page %}
    <hr>
    <b class="headText">遊玩時間點:</b><span class="text">{{ p.add_time }}</span><br>   
    <b class="headText">得分:</b><span class="text">{{ p.correct_rate }}</span><br>
    <br/>
    {% endfor %}

    {% elif gameMod == "OrientationGame" %}
        {% for p in page %}
        <hr>
    <b class="headText">遊玩時間點:</b><span class="text">{{ p.add_time }}</span><br>   
    <b class="headText">得分:</b><span class="text">{{ p.correct_rate }}</span><br>
    <b class="headText">花費時間:</b><span class="text">{{ p.costTime }}</span>
        <br/>
        {% endfor %}
    {% endif %}
</div>
<ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="?page=1">第一頁</a>
    </li>
    {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous_page_number }}">上一頁</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
    </li>
    {% endif %}
  
    {% if page.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}
  
    {% for i in page.paginator.page_range %}
    {% if page.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        {{ i }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% elif i > page.number|add:'-5' and i < page.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
  
    {% if page.paginator.num_pages > page.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'5' }}">&hellip;</a></li>
    {% endif %}
  
    {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.next_page_number }}">下一頁</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">下一頁</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{ end_page }}">最後一頁</a>
    </li>
  </ul>

{% endif %}
{% endblock %}
