{% extends "base.html" %}
{% block title %}年份選擇{% endblock %}
{% block css%}
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
<style>
    .frame {
        width: 90%;
        margin: 40px auto;
        text-align: center;
        
    }
    button {
    margin: 20px;
    outline: none;
    
    }
    .custom-btn {
        font-size: 25px;
    width: 150px;
    height: 50px;
    padding: 10px 10px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    }
    .btn-7 {
    
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .btn-7:hover {
    background: transparent;
    color: #FF8C00;
    }
    .btn-7:before,
    .btn-7:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
    }
    .btn-7:before {
    top: 0;
    }
    .btn-7:after {
    bottom: 0;
    }
    .btn-7:hover:before,
    .btn-7:hover:after {
    height: 0;
    background-color: #000;
    }
    
    .btn-11 {
        border: 2px solid #8B4726;
        overflow: hidden;
        transition: all 0.3s ease;
      }
      .btn-11:hover {
         background: #8B4726;
        color: #fff;
      }
      .btn-11:before {
          position: absolute;
          content: '';
          display: inline-block;
          top: -180px;
          left: 0;
          width: 30px;
          height: 100%;
          background-color: #fff;
          animation: shiny-btn1 3s ease-in-out infinite;
      }
      .btn-11:active{
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
      }
      
      
      @-webkit-keyframes shiny-btn1 {
          0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
          80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
          81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
          100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
      }
    .v13_58 {
        color: rgba(0, 0, 0, 1);
        font-family: Roboto;
        font-weight: Regular;
        font-size: 50px;
        opacity: 1;
        top: 0px;
        left:3px;
        color:orange;
    }
    .button5 {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 10px 22px;
        border: 2px solid #3d3d3d;
        border-radius: 27px;
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
        background: -moz-linear-gradient(top, #fafafa, #ededed);
        background: linear-gradient(to bottom, #fafafa, #ededed);
        -webkit-box-shadow: #171717 0px 0px 2px 0px;
        -moz-box-shadow: #171717 0px 0px 2px 0px;
        box-shadow: #171717 0px 0px 2px 0px;
        text-shadow: #591717 1px 1px 1px;
        font: normal normal normal 28px arial;
        color: #0a0a0a;
        text-decoration: none;
    }
    .button5:hover{
        background-color: #000;
        color: rgb(59, 59, 59);
    }
    
    .button5:active {
      background-color: #3e8e41;
      box-shadow: 0 5px rgb(148, 148, 148);
      transform: translateY(4px);
    }
    .button5:focus {
        border: 2px solid #626262;
        background: #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
        background: -moz-linear-gradient(top, #ffffff, #ffffff);
        background: linear-gradient(to bottom, #ffffff, #ffffff);
        color: #0a0a0a;
        text-decoration: none;
    }
    .button5:active {
        background: #969696;
        background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#ededed));
        background: -moz-linear-gradient(top, #969696, #ededed);
        background: linear-gradient(to bottom, #969696, #ededed);
    }
    .button5:after{
        content:  "\0000a0";
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        margin: 0 -4px -6px 4px;
        position: relative;
        top: 0px;
        left: -1px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABh0lEQVRIibXVMUhVYRQH8B/Pi4i8wUlERB4RTRIi4uAQDg4i4vhoampoCJEIaWpxEJKmMBAFRxERcVEcIlpaREJEQyIkRIJw0D2k4dwH+VDve3rff/vu933nf87//L9zuRnJLXv3xiPMNSp4H35jO49ghar1MNaxiFZ0oXjNuTuhjGMMoBe7OMIpvmMpPVO8S/CX+CG0r0YLHuAZ1lLC9+ioJ/gpOms8347p9M5rNGdd6MAOZtSndRc28LmW5NrwCQvC/+14inH0u1n3Al4JeR9mkTRjJc1qBCdYxhdh2z3MCgNUV1rGT5SySBLxwE5cfQcJejCF/ZR0uOruc+G8TJcV8BZbtyQxhm9YFXJWMI8PWQQV9GXsJ3gjpBlMvxVFPwZqJakFQ/iF0XRdFobJFY9TkidC4gPhvlwxKEZNNybV0Yt6MCHMURK9SHKZkv/ho2h0P/6iuylngksxgd+JCfwn7wrgK87FBC7lXUEFl3iBnUZUAJuiB/n8Cq/BGQ5x0SiJ4AK7/wCn8UdE6vGrrAAAAABJRU5ErkJggg==") no-repeat left center transparent;
        background-size: 100% 100%;
    }
    .yearTitle{
        font-family: Roboto;
        color:orange;
        font-size: 30px;
    }
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md" style="border-bottom:solid 20px;border-color:#00BB00;margin-top:20px;margin-bottom:20px;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span class="v13_58" ><img src="/media/image/scroll.png" width="60" height="60">{{ year }}年</span>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
        <a href="/historyYear/{{ pk }}/{{ gameName }}/"><button  class="button5">&nbsp;&nbsp;上一頁</button></a>
    </li>
        </ul>
    </div>
</nav>

<div class="row align-items-start" >
    {% for month in monthList %}
        <a href="/historyDay/{{ pk }}/{{ gameName }}/{{ year }}/{{ month }}/">
            <button class="custom-btn btn-7"><div class="col-sm">{{ month }}月</div></button>
        </a>
    {% endfor %}
    <br>
    <br>
    <button class="custom-btn btn-11">今年的資料</button>
</div>


{% endblock %}