{% extends "base.html"%}

{% block title %}短期記憶遊戲{% endblock %}

{% block css %}

<style>

</style>

{% endblock %}

{% block content %}
<div class="v10_6"><div class="v13_27"></div><span class="v38_13">點擊頭像,即可登入</span><div class="v118_148"></div><div class="v118_145"><div class="v118_146"></div><div class="v118_147"></div></div><div class="v118_149"></div><div class="v118_150"><div class="v118_151"></div><div class="v118_152"></div></div><div class="v118_153"></div><div class="v118_154"><div class="v118_155"></div><div class="v118_156"></div></div><div class="v11_11"><div class="v11_12"></div><div class="v11_13"></div></div><span class="v11_14">登入畫面</span><div class="v13_20"><div class="v13_21"></div><div class="v13_22"></div></div><span class="v13_23">註冊</span></div>
{% endblock %}